{% spaceless %}
{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8"/>
    <link href="{% static 'styles.css' %}" rel="stylesheet" type="text/css">
    <link href="{% static 'script.js' %}" rel="stylesheet" type="text/javascript">
    <title>{% block title %}{% endblock %}</title>
</head>
<body>
   <header>
       <h1>{% block header %}{% endblock %}</h1>
       <nav >
            {% with request.resolver_match.namespace as ns %}
                <ul class="hr">
                    <li><a class="{% if ns == 'index' %}active{% endif %}" href="{% url 'index:index' %}">Main</a></li>
                    <li><a class="{% if ns == 'resume' %}active{% endif %}"
                           href="{% url 'resume:index' %}">Resume</a></li>
                    <li><a class="{% if ns == 'projects' %}active{% endif %}"
                           href="{% url 'projects:index' %}">Projects</a></li>
                {% endwith %}
             </ul>
        </nav>
    </header>
   <main>
         {% block main %}{% endblock %}
   </main>

    <footer>
        <p>(C) Evgene Ivashkevich 2020</p>
        <p><a href="mailto:zheklex@ya.ru">email</a>
            <a href="https://t.me/evgene.ivashkevich">telegram</a>
            <a href="https://linkedin.com/in/yauheni-ivashkevich"/> linkedin </a>
         </p>
    </footer>
 </body>
</html>
{% endspaceless %}