.main-header {
    padding: var(--main-gap);
    border-bottom: 1px solid var(--color-secondary);
}

.main-header nav {
    /* переместить блок в правую сторону */
    float: right;
    margin: 10px 0 0 0;
}

.main-header nav a {
    font: var(--font-h2);
}

.main-title {
    font: var(--font-h3);
    color: var(--color-main);
    margin: 10px 0 0 0;
    /*тут же можно написать любые стили для заголовка Ивашкевич*/
}

.logo {
    display: inline-block;
    float: left;
}

.logo img {
    width: 40px;
    margin: 0 15px 0 0;
}

@media (max-width: 480px) {
}

@media (min-width: 480px) {
    .main-header nav a {
        /* задать внешний отступ слева */
        margin-left: var(--secondary-gap);
    }
}

img {
    margin-right: 15px;
    margin-bottom: 20px;
}