[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
black = "==19.10b0"
coverage = "*"
django-silk = "*"
freezegun = "*"
httpie = "*"
ipython = "*"
isort = "*"
line-profiler = "*"
pudb = "*"

[packages]
celery = {extras = ["redis"],version = "*"}
django = "*"
whitenoise = "*"
dj-database-url = "*"
dynaconf = {extras = ["yaml"],version = "*"}
psycopg2-binary = "*"
jinja2 = "*"
delorean = "*"
django-ipware = "*"
djangorestframework = "*"
drf-yasg = {extras = ["validation"],version = "*"}
gunicorn = "*"
uvicorn = "*"
sentry-sdk = "*"
requests = "*"
boto3 = "*"
django-storages = "*"
