{% extends "base.html" %}
{% block main %}
    <div class = "loginform">
{% if form.errors %}
<div class="error">Your username and password didn't match. Please try again.</div>
{% endif %}

{% if next %}
    {% if user.is_authenticated %}
    <p>Your account doesn't have access to this page. To proceed,
    please login with an account that has access.</p>
    {% else %}
    <p>Please login to see this page.</p>
    {% endif %}
{% endif %}

<form method="post" action="{%url 'login' %}" class="form">
    {{ csrf_input }}
{{ form.username.label_tag }}
    {{ form.username}}
    <br>
    <br>
    {{ form.password.label_tag }}
    {{ form.password}}
<br>
    <br>
    <input type="submit" value="login">
    <input type="hidden" name="next" value="{{ next }}">
</form>
<br>
<div class="error"><a href="{% url 'password_reset' %}">Lost password?</a></div>
    </div>
{% endblock %}