{% extends "base.html" %}

{% block title %}Edit Profile{% endblock %}

{% block header %}Edit Profile{% endblock %}

{% block main %}

    <article>

        {% if user.is_anonymous %}

            <h2>You are not authorized to use this</h2>

        {% else %}

            <h2>Your new data</h2>

            <form method="post">
                <input type="hidden" name="csrfmiddlewaretoken" value="{{ csrf_token }}">
                <div class="grid">
                    {{ form.as_p() }}
                </div>
                <button class="button" type="submit">Update</button>
            </form>

        {% endif %}

    </article>

{% endblock %}