{% extends "base.html" %}
{% block main %}

{% if form.errors %}
<p>Errors during changing password:{{form.errors}}.</p>
{% endif %}

{% if next %}
    {% if user.is_authenticated %}
    <p>Your account doesn't have access to this page. To proceed,
    please login with an account that has access.</p>
    {% else %}
    <p>Please login to see this page.</p>
    {% endif %}
{% endif %}

<form method="post" action="{%url 'password_change' %}">
    {{ csrf_input }}
    {{ form.as_p}}
    <br>
    <input type="submit" value="change password">
    <input type="hidden" name="next" value="{{ next }}">
</form>

<p><a href="{% url 'password_reset' %}">Lost password?</a></p>


{% endblock %}