{% extends "base.html" %}
{% load static %}

{% block title %}Ivashkevich Evgene personal website{% endblock %}

{% block header %}Evgene Ivashkevich{% endblock %}

{% block styles %}
<link href="{% static 'css/index.css' %}" rel="stylesheet" type="text/css">
{% endblock %}

{% block main %}
    <article class="index-main">
        <img alt="myfoto" src="{% static 'index/pic.jpg' %}"/>
        <p class="bg-content">Hi!<br> My name is Evgene! <br> This is my first web-page.<br>
            See below some info about me.</p>
    <article>

{% endblock %}
