{% extends "base.html" %}
{% block title %}Eugene Ivashkevich personal website{% endblock %}
{% block header %}{{ name | safe }}{% endblock %}
{% block styles %}
<link href="{{ static ('css/index.css') }}" rel="stylesheet" type="text/css">
{% endblock %}
{% block main %}
<article class="index-main">
    <div class="image">
    <img alt="myfoto" src="{{ static ('index/pic.jpg') }}"/>
    </div>
    <div class="text">
        {{ greeting | safe }}
        <p class="bg-content">I have higher education in «Jurisprudence» and about 10 years of experience
            as in-house lawyer and about 4 years of experience as entrepreneur.<br>
        <p class="bg-content"> In addition, for about five years i have been a project manager at the Public Organization
            for the promotion of sustainable development of the Vileika District "ZOViK". And during this time I have
            implemented a number of projects aimed at the development of my native Vileika region.</p>
        <p class="bg-content">I am currently attending a Python course at the TeachMeSkills programming school
            to get an opportunity to study the Python ecosystem, learn how to develop applications for the Django
            framework, work with a database and servers.<br> Hope soon I'll achieve that level of knowledge that let me
            find my first job on my new specialty. Here
            <a href="https://github.com/Yauheni-Ivashkevich">my github</a>
        </p>

    </div>

</article>

{% endblock %}
