{% extends "base.html" %}

{% block title %}Projects of Ivashkevich Eugene{% endblock %}

{% block header %}Projects{% endblock %}

{% block styles %}
<link href="{{ static('css/project.css')}}" rel="stylesheet" type="text/css">
{% endblock %}

{% block main %}

<article class="bg-content">
    <h2>Below is a list with some of them.</h2><br>

    <h2>Projects</h2><br>

    {% for project in projects %}
        <section>
            <a href="{{ project.link }}">
                <h2>{{ project.linkName }}</h2>
            </a>
            <br/>
            <p>{{ project.description }}</p>

            {% if project.gallery %}
                <div>{{ project.gallery }}</div>
            {% endif %}
            <ul>
                <li><b>Start at: </b> {{ project.started_at }}</li>
                <li><b>Duration: </b> {{ project.duration }}</li>
            </ul>
            {% if project.sponsor %}
                <br/>
                <h3>Sponsor</h3>
                <p>{{ project.sponsor }}</p>
            {% endif %}

        </section>
        <br/>
     {% endfor %}

</article>
{% endblock %}