:root {
    --header-height: 120px;
    --font-size: 20px;
}

body {
    width: 100%;
    max-width: -webkit-fill-available;
    height: 100vh;
      background-image: url("static/back1.jpg");
     background-size: cover;
     background-position: center;
     padding: 20px;
}


img {
float: center;
    max-width: 27%
}
ul.hr li {
    display: inline; /* Отображать как строчный элемент */
        margin-right: 5px; /* Отступ слева */
    border: 1px solid #000; /* Рамка вокруг текста */
    padding: 3px; /* Поля вокруг текста */
   }

