:root {
    --header-height: 120px;
    --font-size: 20px;
}

body {
    background: green;
}


img {
float: center;
    max-width: 27%
}
ul.hr li {
    display: inline; /* Отображать как строчный элемент */
        margin-right: 5px; /* Отступ слева */
    border: 1px solid #000; /* Рамка вокруг текста */
    padding: 3px; /* Поля вокруг текста */
   }

