{% extends "base.html" %}
{% load static %}

{% block title %}Projects of Ivashkevich Evgene{% endblock %}

{% block header %}Projects{% endblock %}

{% block styles %}
<link href="{% static 'css/project.css' %}" rel="stylesheet" type="text/css">
{% endblock %}

{% block main %}

    <article class="bg-content">
        <h2>Below is a list with some of them.</h2><br>

        <h2>Projects</h2><br>

        <section>
            <a href="http://climate.ecopartnerstvo.by/ru/news/179"><h2>Vileyka becomes more mobile</h2></a>
            <p>How the city of Vileyka becomes more mobile.</p>

        </section>

         <section>
            <a href="https://zovik.by/news/velaj-dobro"><h2>VelayDobro interactive bike site</h2></a>
            <p> VelayDobro interactive bike site - the beginning of good deeds in Vileika Cycling.</p>

        </section>

        <section>
            <a href="https://eurovelo.by/2019/10/31/velomarshrut-nad-viliey/"><h2>The bicycle route</h2></a>
            <p> The bicycle route “And over the Viliya River”.</p>

        </section>
    </article>



{% endblock %}