{% extends "base.html" %}
{% load static %}

{% block title %}Projects of Ivashkevich Evgene{% endblock %}

{% block header %}Projects{% endblock %}

{% block styles %}
<link href="{% static 'css/project.css' %}" rel="stylesheet" type="text/css">
{% endblock %}

{% block main %}

    <article class="bg-content">
        <p>Below is a list with some of them.</p>

        <h2>Projects</h2>

        <section>
            <a href="http://climate.ecopartnerstvo.by/ru/news/179"><h3>Vileyka becomes more mobile</h3></a>
            <p>How the city of Vileyka becomes more mobile.</p>
            <ul>
                <li><a href="http://climate.ecopartnerstvo.by/ru/news/179">Website</a></li>
            </ul>
        </section>

         <section>
            <a href="https://zovik.by/news/velaj-dobro"><h3>VelayDobro interactive bike site</h3></a>
            <p> VelayDobro interactive bike site - the beginning of good deeds in Vileika Cycling.</p>
            <ul>
                <li><a href="https://zovik.by/news/velaj-dobro">Website</a></li>
            </ul>
        </section>

        <section>
            <a href="https://eurovelo.by/2019/10/31/velomarshrut-nad-viliey/"><h3>The bicycle route</h3></a>
            <p> The bicycle route “And over the Viliya River”.</p>
            <ul>
                <li><a href="https://eurovelo.by/2019/10/31/velomarshrut-nad-viliey/">Website</a></li>
            </ul>
        </section>
    </article>



{% endblock %}